.switcher {
    height: 54px;
    background-color: #353535;
    margin-bottom: 20px;
    border-radius: 16px;
    width: min-content;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 40px 0px #00000040;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.switcher label {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
}

.form {
    height: auto;
    width: 530px;
}

.registration, .login {
    display: flex;
    background-color: #353535;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 26px;
    box-shadow: 0px 0px 40px 0px #00000040;
    padding: 25px 40px;
}

.registration > label, .login > label,
.registration > button, .login > button {
    margin-top: 20px;
}

.registration > label:nth-child(1), .login > label:nth-child(1) {
    margin-top: 0;
}

.formData label {
    display: flex;
    justify-content: space-between;
    width: 450px;
    height: 40px;
    flex-wrap: wrap;
}

.formData label p {
    font-size: 24px;
    line-height: 29.26px;
    text-align: center;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    color: #FFFFFF;
}

.login {
    height: max-content;
    display: none;
}

.registration {
    height: 289px;
    display: none;
}

.formData input {
    outline: none;
    border: unset;
    width: 280px;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
    background: #282828;
    border-radius: 14px;
    padding: 10px;
    font-size: 16px;
    color: #FFFFFF;
}

.active {
    display: flex;
}