.page {
    display: flex;
    justify-content: center;
    height: 90%;
}

.panel {
    width: 1520px;
    height: 660px;
    display: flex;
    justify-content: space-between;
}

.content {
    width: 1056px;
    height: 564px;
    background-color: #3E3E3E;
    border-radius: 40px;
    padding: 48px;
    display: flex;
    gap: 48px;
    overflow: auto;
    flex-wrap: wrap;
    align-content: flex-start;
    box-shadow: 0px 0px 40px 0px #00000040;
}

.content a {
    text-decoration: none;
}

.content::-webkit-scrollbar {
    width: 0;
}

/* Title */
.title {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.88px;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

.meetingCard {
    width: 252px;
    height: 73px;
    background: #282828;
    border-radius: 30px;
    padding: 30px 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meetingTitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    margin: 0;
    color: #FFFFFF;
}

.meetingDateContainer {
    display: flex;
    justify-content: space-between;
}

.meetingDate {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    color: #FFFFFF;
    margin: 0;
}

.statusIcon {
    align-self: center;
}

.statusPending {
    animation: rotating 2s infinite linear;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.fileForm {
    width: 224px;
    height: 564px;
    background-color: #3E3E3E;
    border-radius: 40px;
    padding: 48px;
    box-shadow: 0px 0px 40px 0px #00000040;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fileFormMeetingName {
    width: 184px;
    height: 20px;
    padding: 10px 20px;
    border-radius: 14px;
    border: none;
    background-color: #282828;
    color: #FFFFFF66;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.fileFormMeetingName:focus {
    outline: none;
}

.fileFormFilesField {
    background: #282828;
    width: 224px;
    height: 149px;
    border-radius: 16px;
    padding-top: 113.5px;
    padding-bottom: 113.5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fileFormFilesField p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    color: #FFFFFF;
    text-align: center;
    width: 184px;
    justify-self: center;
    align-self: center;
    margin: 0;
}

.fileFormFilesField p a {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-decoration: underline;
    color: #FFFFFF;
}

p.costraintMaxSize {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    color: #F59D0E;
}