.header {
    display: flex;
    background-color: #353535;
    color: white;
    height: 80px;
    align-items: center;
    box-shadow: 0px 0px 20px 0px #F59D0E;
    border-bottom: 2px solid #F59D0E;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;
}

.logo {
    display: block;
    width: 132px;
    height: auto;
}

.profile {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 16px;
}